# filling null values

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
data=pd.read_csv('Windspeed.csv')

In [5]:
data

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7        NaN   sunny
2   08-05-2020          NaN      6.880     NaN
3          NaN         30.4        NaN  cloudy
4   10-05-2020          NaN     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7        NaN     NaN
7   13-05-2020         35.4     10.788   sunny
8          NaN         26.3      8.658     NaN
9   15-05-2020         22.4     14.884   sunny
10         NaN          NaN        NaN   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020          NaN     25.664     NaN
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020          NaN     17.256   rainy
15         NaN         33.4        NaN   sunny
16  22-05-2020          NaN     12.222     NaN
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899     NaN
19  25-05-2020         26.7        NaN   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         18 non-null     object
 1   Temperature  16 non-null     float64
 2   Windspeed    16 non-null     float64
 3   Status       16 non-null     object
dtypes: float64(2), object(2)
memory usage: 832.0+ bytes

In [7]:
data.isnull().sum()

Date           4
Temperature    6
Windspeed      6
Status         6
dtype: int64

In [9]:
q=data.fillna(0)

In [10]:
q

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7      0.000   sunny
2   08-05-2020          0.0      6.880       0
3            0         30.4      0.000  cloudy
4   10-05-2020          0.0     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7      0.000       0
7   13-05-2020         35.4     10.788   sunny
8            0         26.3      8.658       0
9   15-05-2020         22.4     14.884   sunny
10           0          0.0      0.000   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020          0.0     25.664       0
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020          0.0     17.256   rainy
15           0         33.4      0.000   sunny
16  22-05-2020          0.0     12.222       0
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899       0
19  25-05-2020         26.7      0.000   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy

In [11]:
q

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7      0.000   sunny
2   08-05-2020          0.0      6.880       0
3            0         30.4      0.000  cloudy
4   10-05-2020          0.0     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7      0.000       0
7   13-05-2020         35.4     10.788   sunny
8            0         26.3      8.658       0
9   15-05-2020         22.4     14.884   sunny
10           0          0.0      0.000   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020          0.0     25.664       0
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020          0.0     17.256   rainy
15           0         33.4      0.000   sunny
16  22-05-2020          0.0     12.222       0
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899       0
19  25-05-2020         26.7      0.000   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy

In [17]:
a=data.fillna({
    "Temperature":0,
    "Windspeed":5,
    "Status":'sunny'
})

In [16]:
a

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7      0.000   sunny
2   08-05-2020          0.0      6.880       0
3            0         30.4      0.000  cloudy
4   10-05-2020          0.0     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7      0.000       0
7   13-05-2020         35.4     10.788   sunny
8            0         26.3      8.658       0
9   15-05-2020         22.4     14.884   sunny
10           0          0.0      0.000   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020          0.0     25.664       0
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020          0.0     17.256   rainy
15           0         33.4      0.000   sunny
16  22-05-2020          0.0     12.222       0
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899       0
19  25-05-2020         26.7      0.000   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy

In [18]:
data

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7        NaN   sunny
2   08-05-2020          NaN      6.880     NaN
3          NaN         30.4        NaN  cloudy
4   10-05-2020          NaN     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7        NaN     NaN
7   13-05-2020         35.4     10.788   sunny
8          NaN         26.3      8.658     NaN
9   15-05-2020         22.4     14.884   sunny
10         NaN          NaN        NaN   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020          NaN     25.664     NaN
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020          NaN     17.256   rainy
15         NaN         33.4        NaN   sunny
16  22-05-2020          NaN     12.222     NaN
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899     NaN
19  25-05-2020         26.7        NaN   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy

In [19]:
s=data.fillna({
    "Temperature":0,
    "Windspeed":5,
    "Status":'sunny'
})

In [20]:
s

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7      5.000   sunny
2   08-05-2020          0.0      6.880   sunny
3          NaN         30.4      5.000  cloudy
4   10-05-2020          0.0     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7      5.000   sunny
7   13-05-2020         35.4     10.788   sunny
8          NaN         26.3      8.658   sunny
9   15-05-2020         22.4     14.884   sunny
10         NaN          0.0      5.000   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020          0.0     25.664   sunny
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020          0.0     17.256   rainy
15         NaN         33.4      5.000   sunny
16  22-05-2020          0.0     12.222   sunny
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899   sunny
19  25-05-2020         26.7      5.000   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy

In [22]:
d=data.fillna(method='ffill')

In [23]:
d

          Date  Temperature  Windspeed  Status
0   06-05-2020         35.4     10.788   sunny
1   07-05-2020         36.7     10.788   sunny
2   08-05-2020         36.7      6.880   sunny
3   08-05-2020         30.4      6.880  cloudy
4   10-05-2020         30.4     19.055   rainy
5   11-05-2020         24.2     13.900   sunny
6   12-05-2020         22.7     13.900   sunny
7   13-05-2020         35.4     10.788   sunny
8   13-05-2020         26.3      8.658   sunny
9   15-05-2020         22.4     14.884   sunny
10  15-05-2020         22.4     14.884   sunny
11  17-05-2020         23.5     16.555   rainy
12  18-05-2020         23.5     25.664   rainy
13  19-05-2020         30.2     14.258  cloudy
14  20-05-2020         30.2     17.256   rainy
15  20-05-2020         33.4     17.256   sunny
16  22-05-2020         33.4     12.222   sunny
17  23-05-2020         28.5     13.525   sunny
18  24-05-2020         27.6      5.899   sunny
19  25-05-2020         26.7      5.899   sunny
20  26-05-2020         34.4     16.258   rainy
21  27-05-2020         33.9     14.363  cloudy